version: "3.9"

services:
  webapp:
    build:
      context: .
      dockerfile: keerthi973/webapp:latest
    container_name: python-webapp
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - REDIS_HOST=redis
    depends_on:
      - redis
    volumes:
      - ./src:/app/src
    restart: always
    networks:
      - webnet

  redis:
    image: redis:7-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    networks:
      - webnet
    restart: always

networks:
  webnet:
