name: Build and Deploy to AKS

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: keerthi973/webapp

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Checkout repo
    - name: Checkout code
      uses: actions/checkout@v4

    # Login to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # Build and Push Docker Image
    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: ./app
        file: ./app/Dockerfile
        push: true
        tags: |
          ${{ env.IMAGE_NAME }}:latest
          ${{ env.IMAGE_NAME }}:${{ github.sha }}

    # Azure Login using Service Principal
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Fetch AKS kubeconfig
    - name: Get AKS credentials
      run: |
        az aks get-credentials \
          --resource-group AZAKSTesting-rg \
          --name devops-aks \
          --overwrite-existing

    # Install Helm
    - name: Setup Helm
      uses: azure/setup-helm@v4

    # Deploy using Helm
    - name: Deploy to AKS using Helm
      run: |
        helm upgrade --install webapp ./app/helm/webapp-python \
          --set image.repository=${{ env.IMAGE_NAME }} \
          --set image.tag=${{ github.sha }}
