name: CI-CD Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: keerthi973/webapp

# --------------------
# CI JOB: Build & Push
# --------------------
jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v6
      with:
        context: ./app
        file: ./app/Dockerfile
        push: true
        tags: |
          ${{ env.IMAGE_NAME }}:latest
          ${{ env.IMAGE_NAME }}:${{ github.sha }}

# --------------------
# CD JOB: Deploy to AKS
# --------------------
  deploy:
    name: Deploy to AKS using Helm
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Get AKS credentials
      run: |
        az aks get-credentials \
          --resource-group AZAKSTesting-rg \
          --name devops-aks \
          --overwrite-existing

    - name: Setup Helm
      uses: azure/setup-helm@v4

    - name: Deploy with Helm
      run: |
        helm upgrade --install webapp ./app/helm/webapp-python \
          --set image.repository=${{ env.IMAGE_NAME }} \
          --set image.tag=${{ github.sha }}
